html {
  scroll-behavior: smooth;
}
.wrap {
  width: 80%;
  border-radius: 20px;
  margin: 20px auto;
  background: linear-gradient(60deg, rgb(236, 123, 123), #756ee0);
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 20px 0 2px;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  padding: 0 10px;
  line-height: 40px;
  transition: .3s;
}
.nav-link:hover {
  color:bisque;
}

hr {
  background-image: linear-gradient(to right,
      transparent,
      rgba(0, 0, 0, 0.2),
      transparent);
  border: 0;
  height: 1px;
  margin: 20px 0 22px 0;
  box-sizing: content-box;
  display: block;
}
.main-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.main-photo {
  width: 30%;
  height: 30%;
  border: double 5px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.main-information {
  width: 60%;
  align-self: center;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  margin: 0;
}
.text-main {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  margin-top: 5px;
}
.title-text {
  font-family: "Source Serif Pro", serif;
  margin: 5px auto;
  font-size: 26px;
  padding: 0px 5px;  
}
.text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
}

.info-container {
  display: flex;
}

.blocks-info {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.projects {
  text-align: center;
}
.projects-block {
  display: flex;
}
.project-one, .project-two {
  flex-direction: column;  
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 30px 20px;
  text-align: center;
  font-family: 'Source Sans Pro';
  background: linear-gradient(45deg, #ff0062, #2912f5);
}
.project-preview {  
  width: 95%;
  border-radius: 10px;
  border: 1px solid white;
}
.projects-button {
  display: inline-block;
  margin: 20px;
  padding: 7px 15px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 14px 15px rgba(0, 0, 0, 0.25)
}
.projects-button:hover {
  box-shadow: 5px 10px 10px rgba(253, 253, 253, 0.5);
}
.project-button:focus {
  outline: none;  
}

.link-button {
  text-decoration: none;
  color: #2912f5;
  font-family: 'Source Sans Pro';
  font-size: 18px;
}
.project-text {
  font-size: 18px;
  color: white;
}

.my-code {
  text-align: center;
}
.pre {
  font-size: 18px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0;
  padding: 0 20px 20px;
}
.footer-c {
font-family: "Roboto Slab",serif;
  font-size: 30px;
  font-weight: bold;
}
.footer-img {
  height: 40px;
  padding: 0 10px;
}